* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url("./img/fondo.png");
}
.welcome__main-div-container {
    width: 317px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 5vh;
}
.welcome__title-container {
    color: #009048;
    margin: 0 auto 8vh auto;
}

.welcome__plays-container,
.instructions__plays-container {
    display: grid;
    gap: 46px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 273px;
    position: fixed;
    margin-left: 15px;
    top: 85%;
}
.welcome__play,
.instructions__play,
.game__player-play {
    width: fit-content;
}

.instructions__main-div-container {
    width: 317px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 40px;
}

.instructions__text-container {
    margin-bottom: 15px;
}

.game__game-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.game__countdown-container {
    position: fixed;
    top: 100px;
}

.game__player-plays-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    max-height: 50vh;
    height: 100%;
    width: 100%;
    max-width: 500px;
    position: fixed;
    bottom: -5%;
    max-height: 30vh;
    margin-left: 5%;
}

.game__show-both-plays-container {
    height: 50%;
}
.game__fade-in-down {
    animation: fade-in-down 1s forwards;
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(-5%);
    }
}
.game__fade-in-up {
    animation: fade-in-up 1.2s forwards;
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(5%);
    }
}
.game__times-up-container {
    height: 100vh;
    width: 80vw;
    padding-top: 135px;
    display: grid;
    max-width: 400px;
    gap: 40px;
}

.game__times-up-buttons-container {
    display: grid;
    gap: 15px;
    grid-template-rows: auto auto;
    padding-bottom: 100px;
}

.result-win__main-container,
.result-lose__main-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 8% auto 8% 1fr;
    justify-content: space-evenly;
    align-items: center;
}
.result-lose__main-container {
    background: rgba(137, 73, 73, 0.9);
}
.result-win__main-container {
    background: rgba(136, 137, 73, 0.9);
}
.result-win__result-img-container,
.result-lose__result-img-container {
    width: fit-content;
    grid-row: 1;
    grid-column: 3;
}

.result-win__score-container,
.result-lose__score-container {
    background: #ffffff;
    border: 10px solid #000000;
    border-radius: 10px;
    height: 217px;
    width: 259px;
    padding: 5px 17px 0px 15px;
    grid-row: 2;
    grid-column: 3;
}

.result-win__button,
.result-lose__button {
    grid-column: 2 / 5;
    grid-row: 3;
}
